<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="3600">
    <style type="text/css">

        * {
            box-sizing: border-box;
            font-family: Calibri, sans-serif;
        }

        html, body {
            height: 100%;
        }

        body {
            background: #000;
	    cursor: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .viewport {
            width: 1280px;
            height: 720px;
            position: relative;
            background: #B5B5B5;
        }

		.logos {
		    position: absolute;
		    background-image: url(http://www.zuidwesttv.nl/teksttv/logos_kabelkrant.png);
		    left: 54px;
		    top: 30px;
		    width: 155px;
		    height: 262px;
        }
		
		.top {
            width: 1280px;
            height: 104px;
            position: absolue;
            background: #4C4C4C;
        }
		.top__datetime {
		    position: absolute;
		    left: 62%;
		    top: 6%;
			color: #F5F5F5;
			font-size: 29px;
        }

        .ticker {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 45px;
            display: flex;
            background: #4C4C4C;
            color: #fff;
            line-height: 48px;
            font-size: 32px;
        }

        .ticker__label {
            background: #04C104;
            color: #ffffff;
            width: 320px;
            text-transform: uppercase;
            text-align: right;
            padding: 0 12px;
            font-weight: bold;
        }

        .ticker__content {
            padding: 0 12px;
        }

        .carousel {
            position: absolute;
            background: yellow;
            left: 158px;
            top: 104px;
            bottom: 0;
            right: 0;
        }

        .carousel__slide {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #F5F5F5;
            padding: 16px 48px 0 32px;
            overflow: auto;

            font-size: 29px;
        }

        .carousel__slide h1 {
            font-size: 32px;
            font-weight: 600;
        }

        .carousel__slide h2 {
            font-size: 29px;
            font-weight: 600;
        }

        .carousel__photo,
        .blob__placeholder {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 440px;
            height: 400px;
            background-size: cover;
            -webkit-clip-path: polygon(100% 11%, 93% 4%, 84% 0%, 62% 6%, 48% 12%, 33% 20%, 18% 30%, 7% 40%, 2% 46%, 0% 54%, 3% 65%, 25% 84%, 50% 100%, 100% 100%);
            z-index: 80;
        }

        .blob__placeholder {
            z-index: 75;
            background-image: url('http://www.zuidwesttv.nl/images/teksttv/fallback.jpg');
        }

        .carousel__punch {
            float: right;
            margin-top: 200px;
            right: -48px;
            width: 440px;
            height: 400px;
            shape-outside: content-box polygon(100% 11%, 93% 4%, 84% 0%, 62% 6%, 48% 12%, 33% 20%, 18% 30%, 7% 40%, 2% 46%, 0% 54%, 3% 65%, 25% 84%, 50% 100%, 100% 100%);
            position: relative;
        }

        .blob__line {
            width: 445px;
            height: 402px;
            background: url('vorm.svg');
            position: absolute;

            right: 0;
            bottom: 0;
            z-index: 85;
        }
    </style>
	
	<script type="text/javascript" src="date_time.js"></script>
</head>
<body>
<div class="viewport">
	<div class="logos"></div>
	<div class="top">
    	<span id="date_time" class="top__datetime"></span>
    	<script type="text/javascript">window.onload = date_time('date_time');</script>
	</div>
    <div class="carousel">
        {% for item in items %}
            {% if item.isNews %}
                {% include('slide/news.twig') %}
            {% else %}
                {% include('slide/event.twig') %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="ticker">
        <span class="ticker__label">Vandaag op TV</span>
        <span class="ticker__content">{{ vandaagoptv }}</span>
    </div>

    <div class="blob__placeholder"></div>
    <div class="blob__line"></div>

    <script>
        (function () {
            var slides = document.querySelectorAll('.carousel__slide');
            var currentSlide = -1;

            function showSlide(index) {
                for (var i = 0; i < slides.length; i++) {
                    slides[i].style.display = 'none';
                }
                slides[index].style.display = '';
            }

            function onTimeout() {
                currentSlide++;
                if (currentSlide == slides.length) {
                    currentSlide = 0;
                }

                showSlide(currentSlide);

                window.setTimeout(onTimeout, 20*1000);
            }

            onTimeout();
        })();
    </script>
</div>
</body>
</html>
